@model Project2.Models.MissionQuestions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MissionQuestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.missionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.missionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answeredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answeredBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.missionQuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
